body {
    height: 100%;
    width: 100%;
}

main {
    min-height: 50vh;
    padding: 0rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

a {
    text-decoration: none;
}




.header2 {
    position: absolute;
    top: 10;
    right: 0;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 1.8rem;
    margin-left: 2rem;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
}

.grid h1 {
    width: 100%;
    margin: 50px;
    color: #04364d;
}

.grid2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: row;
}

.card {
    margin: 0.1rem;
    padding: 0.2rem;
    text-align: center;
    width: 7rem;
    height: 8rem;
    text-decoration: none;
    border: 1px solid #0e77a871;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 20rem;
    display: flex;
  align-items: center;
  justify-content: center

}

.card h3 {
   color: #0E76A8;
}

.nav {
    background-color: rgba(3, 3, 92, 0.253);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rm;
    border-radius: 3rem;
    flex-direction: row;
    position: fixed;
    backdrop-filter: blur(15px);
}

.nav a {
    background-color: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    font-size: 1.1rem;
    display: flex;
    color: #fafafa;
}


.nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5);
}

.perfil {
    opacity: 0.9;
    width: 100%;
    position: relative;
    top: 0px;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('bg-img.jpg');
    background-size: cover;
}

.title2 {
    color: #0E76A8;
    font-size: 1.5rem;
    text-align: left;
}

.title3 {
    color: #0E76A8;
    font-size: 2.5rem;
    text-align: center;
}

.text {
    color: #04364d;
    font-size: 2.4rem;
}

.text2 {
    color: #04364d;
    font-size: 1.1rem;
    text-align: justify;
}

.divButton {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonD {
    color: #0E76A8;
    font-size: larger;
    font-weight: 600;
    border: 3px solid #0E76A8;
    ;
    border-radius: 1rem;
    width: 10rem;
    height: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;


}

.buttonE {
    color: white;
    font-size: larger;
    background-color: #0E76A8;
    border-radius: 1rem;
    width: 10rem;
    height: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 7px;
}

.buttonD:hover {
    transform: translateY(-0.2rem);
}

.buttonE:hover {
    transform: translateY(-0.2rem);
}


.navIcons {
    padding: 0.0rem -3rem;
    justify-content: space-between;
    display: flex;     
    height: 300px;
    width: 70px;
    border-radius: 1rem;
    flex-direction: column;   
    backdrop-filter: blur(15px); 
    position: fixed;
    top: 50px;
    right: -550px;
    margin-top: 2rem;
    z-index: 4;
    transform: rotate(-45deg);
    align-items: center;
}


.navIcons2 {
    padding: 0.0rem -3rem;
    justify-content: space-between;
    /* display: flex;     
    height: 300px;
    border-radius: 1rem;
    flex-direction: column;   
    backdrop-filter: blur(15px); 
    position: fixed;
    top: -550px;
    right: 12px;
    margin-top: 2rem; */
    text-align: left;
    width: 100%;
    background-color: #0E76A8;
    height: 45px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 8px;

}

.navIcons2 h2{
    color: white;
}

.imgBar {
    width: 30px;
    background-color: #fafafa;
    border-radius: 15px;
    margin: 5px;
}


.navIconsFooter {
    padding: 0.0rem -3rem;
    justify-content: space-between;
    /* display: flex;     
    height: 300px;
    border-radius: 1rem;
    flex-direction: column;   
    backdrop-filter: blur(15px); 
    position: fixed;
    top: -550px;
    right: 12px;
    margin-top: 2rem; */
    text-align: center;
    width: 100%;
    background-color: #0E76A8;
    margin-top: 3rem;

}
.navIconsFooter img {
    width: 40px;
    background-color: #fafafa;
    border-radius: 20px;
    margin: 5px;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background: #fff;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    margin: 2px
    /* top: 2px; */
    /* top: -150px;
    right: 25px;
    z-index: 4; */
}

.hamburguer {
    position: relative;
    display: block;
    background: #0E76A8;
    width: 20px;
    height: 2px;
    top: 19px;
    left: 10px;
    transition: 0.5s ease-in-out;
    z-index: 4;
}

.hamburguer:before,
.hamburguer:after {
    background: #0E76A8;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

menu-hamburguer:checked .navIcons {
    top: 250px;
}



@media only screen and (max-width: 910px) {
    .header2 {
        position: static;
        top: 10;
        right: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 0.5rem;
    }

    .divButton {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 0rem;
        margin-left: -2rem;
    }

    .buttonE {
        color: white;
        font-size: larger;
        background-color: #0E76A8;
        border-radius: 1rem;
        width: 10rem;
        height: 4rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 3rem;
    }


    .imgBar {
        width: 0px;
        background-color: #fafafa;
        border-radius: 15px;
        margin: 5px;
        height: 45px;
    }
    
    .imgMenu {
        width: 45px;
        background-color: #fafafa;
        border-radius: 15px;
        margin: 5px;
        height: 45px;
    }

    .menu {
        background: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: 2px;
        top: 2px;
        /* top: 2px; */
        /* top: -150px;
        right: 25px;
        z-index: 4; */
    }
    .navIcons {
        right: -150px;
    }
    
    .grid2 {
        flex-direction: column;
    }
    .grid {
        max-width: 100%;
    }
    
}